* {
    margin: 0;
    padding: 0;
    transition: all 300ms;
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html {
    background: rgb(28,31,46);
}


canvas {
    width: 100% !important;
    height: 100vh !important;
}

#canvas {
    height: 100vh;
    position: static;
}

a, a:visited {
    text-decoration: none;
    color: white;
}

.social {
    position: absolute;
    bottom: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6.5em;
    display: flex;
    justify-content: space-evenly;
}

i { 
    color: white;
    font-size: 2em;
    padding: 0.5em;
    border: 1px solid transparent;
    border-radius: 60px;
}

i:hover {
    cursor: pointer;
    border: 1px solid aquamarine;
}

#project-arrow-container {
    position: absolute;
    top: 80%;
    width: 100%;
    text-align: center;
}

.fa-arrow-down {
    color: aquamarine;
}

.animate__animated.animate__bounce {
  --animate-duration: 2s;
}

.content, .heading {
    color: white;
    font-weight: 200;
}

.content {
    font-family: Nunito;
}

.heading {
    font-family: Roboto;
    font-size: 36px;
    letter-spacing: 0.2em;
}

.heading-first-word {
    color: aquamarine;
}

#title {
    font-family: Roboto;
    position: absolute;
    top: 30%;
    left: 35%;
    transform: translate(-50%, -50%);
    padding: 2%;
    border-radius: 4px;
}

#name {
    /* font-family: Roboto; */
    font-size: 70px;
}

#position {
    font-size: 30px;
    letter-spacing: 0.3em;
    margin-bottom: 1em;
    color: aquamarine;
}

#about {
    letter-spacing: 0.2em;
    line-height: 2em;
    font-size: 16px;
    width: 50%;
    color: white;
}

.content-section {
    position: absolute;
    top: 0;
    overflow-y: auto;
}

.heading-container {
    text-align: center;
    padding: 2em;
}

#modal-close {
    color: white;
    font-size: 1.5em;
    display: inline;
}

#modal-close:hover {
    color: gray;
}

.modal-mask {
    position: fixed;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    /* background: rgba(0, 0, 0, 0.5) */
}

#resume-modal {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
}

#resume-modal iframe {
    width: 40%;
    height: 100%;
}

#projects {
    background: rgb(45, 50, 73)
}

.all-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects-heading {
    margin: 0 auto;
    display: inline-block;
    padding: 0.4em;
    border: 1px solid white;
    border-radius: 4px;
}

.project-card {
    display: flex;
    width: 60%;
    padding: 2%;
    border-bottom: 1px solid rgb(103, 99, 122);
    /* padding: 1em 0; */
    margin: 1em 0;
}

.card-right {
    flex-direction: row-reverse;
}

.project-head {
    font-family: Roboto;
    letter-spacing: 0.2em;
    font-style: bold;
    font-size: 24px;
}

.project-text {
    font-family: 'Nunito', sans-serif;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0.1em;
}

.project-card img {
    border-radius: 30px;
    width: 40%;
    margin: 0 2%;
    max-height: 200px;
    width: 400px;
}

/* .img-container {
    width: 1000px;
} */


.tech-used p, .skills-table {
    color: rgb(0, 179, 255);
    display: inline;
    padding: 0 2%;
}

.skills-table td {
    font-size: 1em;
    padding: 1em;
}

.project-btn {
    display: inline-block;
    padding: 0.4em;
    margin: 1em 1em 0 0;
    border: 1px solid aquamarine;
    border-radius: 10px;
    font-style: bold;
    font-size: 18px;
}

.project-btn:hover {
    background: aquamarine;
}

.skills-content {
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin-bottom: 1em;
}

@media(max-width:900px) {
    .project-card {
        flex-direction: column;
        min-height: 300px;
        margin: 1em;
        width: auto;
    }


    .project-card img {
        /* margin: 10% 0; */
        width: 70%;
        max-height: none;
        margin: 2% auto;
    }

    .left {
        justify-content: flex-start;
        width: 20vw;
    }

    @media(min-width:1700px) {
        .project-card {
            margin: 3% 25%;
        }
    }


@media(max-width:1200px) {
    #resume-modal iframe {
        width: 95%; 
    }
}

@media(max-width:790px) {
    #name {
        font-size: 45px
    }   

    #position {
        font-size: 20px;
    }

    #title {
        text-align: center;
        width: 95%;
        top: 30%;
        left: 50%;
    }

    #about {
        width: 100%;
    }

    .social {
        flex-direction: column;
        align-items: center;
        bottom: 0;
    }

    i {
        font-size: 1.5em;
    }

    #project-arrow-container {
        top: 90%;
    }

    .skills-table {
        font-size: 0.7em;
    }
}